<!doctype html>
<html>
	<head>
		<title>Blog</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:700|Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<header class="posts-hdr">
			<span class="posts-title">Recent Posts:</span>
		</header>
		<section class="posts-list">
			{% for post in posts %}
			{% if loop.first %}
			<div class="post-lead">
				<div class="post-title">{{ post.settings.title }}</div>
				<div class="post-date">{{ post.metadata.modified | date }}</div>
				<div class="post-tease">{{ post.text | lead }}</div>
				<a class="post-link"  href="posts/{{post.url}}">Read Post</a>
			</div>
			{% else %}
			<a class="post-item" href="posts/{{post.url}}">
				<div class="post-title">{{ post.settings.title }}</div>
				<div class="post-date">{{ post.metadata.modified | date }}</div>
				<div class="post-cover"><span class="post-cover-text">Read Post</span></div>
			</a>
			{% endif %}
			{% endfor %}
		</section>
		{% include 'footer.html' %}
		<script src='js/jquery.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
