/* line 1, ../../node_modules/gn_components/scss/gn/footer.scss */
.footer {
  padding-top: 10px;
  width: 100%;
  font-family: 'Open Sans';
  position: absolute;
  bottom: 0;
  height: 5em;
}

/* line 10, ../../node_modules/gn_components/scss/gn/footer.scss */
html {
  height: 100%;
}

/* line 14, ../../node_modules/gn_components/scss/gn/footer.scss */
body {
  min-height: 100%;
  padding-bottom: 5em;
  position: relative;
}

/* line 20, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* line 27, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section.links {
  padding-bottom: 1em;
}

/* line 31, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section .link {
  border: none;
  color: #aaa;
}
/* line 34, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section .link:hover {
  color: #ccc;
  border: none;
}

/* line 41, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-title {
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
}
/* line 45, ../../node_modules/gn_components/scss/gn/footer.scss */
.ack .ftr-title {
  text-align: left;
  font-size: 12px;
}

/* line 51, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link-mod {
  font-size: 14px;
  display: inline-block;
}

/* line 57, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link {
  font-weight: 400;
  padding-left: 10px;
}

/* line 62, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link:hover {
  text-decoration: underline;
}

/* line 66, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link.border-right {
  border-right: solid 1px #aaa;
  padding-right: 10px;
}

/* line 71, ../../node_modules/gn_components/scss/gn/footer.scss */
.ack .ftr-link {
  font-weight: 400;
}

@media print {
  /* line 76, ../../node_modules/gn_components/scss/gn/footer.scss */
  .footer {
    display: none;
  }
}
/* line 4, ../../src/scss/_footer.scss */
.page-container {
  padding-bottom: 5em;
  height: 100%;
}

/* line 9, ../../src/scss/_footer.scss */
.ftr-link {
  text-decoration: none;
}
/* line 11, ../../src/scss/_footer.scss */
.ftr-link, .ftr-link:hover, .ftr-link:active, .ftr-link:visited {
  color: #4EA0AC;
}
/* line 15, ../../src/scss/_footer.scss */
.ftr-link:hover {
  text-decoration: underline;
}

/* line 850, ../../node_modules/gn_components/scss/gn/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 8, ../../src/scss/app.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 16, ../../src/scss/app.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../../src/scss/app.scss */
.posts-list {
  width: 100%;
  margin-bottom: 2em;
}

/* line 27, ../../src/scss/app.scss */
.posts-hdr, .blog-hdr {
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
  padding: 1em;
}

/* line 34, ../../src/scss/app.scss */
.posts-label, .blog-label {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 8px 17px;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 600px) {
  /* line 34, ../../src/scss/app.scss */
  .posts-label, .blog-label {
    left: -5%;
  }
}
@media (min-width: 750px) {
  /* line 34, ../../src/scss/app.scss */
  .posts-label, .blog-label {
    left: -75px;
  }
}

/* line 53, ../../src/scss/app.scss */
.blog-label {
  background-color: #4EA0AC;
  background-color: #46c7de;
}

/* line 57, ../../src/scss/app.scss */
.posts-label {
  background-color: #a2b0b3;
}

/* line 61, ../../src/scss/app.scss */
.post-lead {
  text-align: center;
}

/* line 65, ../../src/scss/app.scss */
.blog-tease {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: justify;
  font-weight: 200;
  /*	&:after {
  		z-index: 2;
  
  		position: absolute;
  		bottom: 0;
  		width: 100%;
  		content: " ";
  		height: 3em;
  		left: 0;
  		right:0;
  		background: linear-gradient(to bottom, rgba(1, 1, 1, 0), #fff);
  	}
  */
}

/* line 86, ../../src/scss/app.scss */
.post-link {
  text-transform: lowercase;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
  text-decoration: none;
  padding: 4px 10px;
  border: solid 2px;
  color: #5EB0BF;
  border-radius: 5px;
}
/* line 96, ../../src/scss/app.scss */
.post-link:hover {
  color: #71D4E6;
}

/* line 102, ../../src/scss/app.scss */
.post-item {
  text-align: left;
  display: block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: solid 3px white;
}
/* line 112, ../../src/scss/app.scss */
.post-item, .post-item:hover, .post-item:active, .post-item:visited {
  color: black;
}
/* line 119, ../../src/scss/app.scss */
.post-item:hover, .post-item:active {
  border: solid 3px #71D4E6;
}
/* line 123, ../../src/scss/app.scss */
.post-item:hover .post-cover, .post-item:active .post-cover {
  display: flex;
  -webkit-animation-name: fadeout;
  -moz-animation-name: fadeout;
  animation-name: fadeout;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
/* line 144, ../../src/scss/app.scss */
.test .post-cover {
  display: flex;
  opacity: 0;
  -moz-transition: opacity 1s ease-in 2s;
  -o-transition: opacity 1s ease-in 2s;
  -webkit-transition: opacity 1s ease-in;
  -webkit-transition-delay: 2s;
  transition: opacity 1s ease-in 2s;
}

/* line 149, ../../src/scss/app.scss */
.post-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: #71D4E6;
  z-index: 2;
  display: none;
  text-align: center;
}

/* line 162, ../../src/scss/app.scss */
.post-cover-text {
  margin: auto;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  font-size: 36px;
}
@media (min-width: 450px) {
  /* line 162, ../../src/scss/app.scss */
  .post-cover-text {
    font-size: 48px;
  }
}

/* line 175, ../../src/scss/app.scss */
.post-item, .blog-lead, .post-lead {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

/* line 182, ../../src/scss/app.scss */
.post-title {
  font-size: 36px;
  font-weight: bold;
}

/* line 187, ../../src/scss/app.scss */
.post-date {
  color: #86989c;
}
