/* line 1, ../../node_modules/gn_components/scss/gn/footer.scss */
.footer {
  padding-top: 10px;
  width: 100%;
  font-family: 'Open Sans';
  position: absolute;
  bottom: 0;
  height: 5em;
}

/* line 10, ../../node_modules/gn_components/scss/gn/footer.scss */
html {
  height: 100%;
}

/* line 14, ../../node_modules/gn_components/scss/gn/footer.scss */
body {
  min-height: 100%;
  padding-bottom: 5em;
  position: relative;
}

/* line 20, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* line 27, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section.links {
  padding-bottom: 1em;
}

/* line 31, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section .link {
  border: none;
  color: #aaa;
}
/* line 34, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-section .link:hover {
  color: #ccc;
  border: none;
}

/* line 41, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-title {
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
}
/* line 45, ../../node_modules/gn_components/scss/gn/footer.scss */
.ack .ftr-title {
  text-align: left;
  font-size: 12px;
}

/* line 51, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link-mod {
  font-size: 14px;
  display: inline-block;
}

/* line 57, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link {
  font-weight: 400;
  padding-left: 10px;
}

/* line 62, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link:hover {
  text-decoration: underline;
}

/* line 66, ../../node_modules/gn_components/scss/gn/footer.scss */
.ftr-link.border-right {
  border-right: solid 1px #aaa;
  padding-right: 10px;
}

/* line 71, ../../node_modules/gn_components/scss/gn/footer.scss */
.ack .ftr-link {
  font-weight: 400;
}

@media print {
  /* line 76, ../../node_modules/gn_components/scss/gn/footer.scss */
  .footer {
    display: none;
  }
}
/* line 850, ../../node_modules/gn_components/scss/gn/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 4, ../../src/scss/_footer.scss */
.page-container {
  padding-bottom: 5em;
  height: 100%;
}

/* line 9, ../../src/scss/_footer.scss */
.ftr-link {
  text-decoration: none;
}
/* line 11, ../../src/scss/_footer.scss */
.ftr-link, .ftr-link:hover, .ftr-link:active, .ftr-link:visited {
  color: #4EA0AC;
}
/* line 15, ../../src/scss/_footer.scss */
.ftr-link:hover {
  text-decoration: underline;
}

/* line 8, ../../src/scss/post.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../../src/scss/post.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 22, ../../src/scss/post.scss */
.post-hdr {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}

/* line 30, ../../src/scss/post.scss */
.post-title {
  font-weight: 200;
  font-size: 48px;
}

/* line 35, ../../src/scss/post.scss */
.post-date {
  font-weight: normal;
  padding: 5px 10px;
  color: white;
  background-color: #4EA0AC;
}

/* line 44, ../../src/scss/post.scss */
.post-text {
  width: 100%;
  font-size: 18px;
  max-width: 40em;
  margin: 0 auto;
  padding: 2em 1em;
}
/* line 51, ../../src/scss/post.scss */
.post-text a {
  color: #5EB0BF;
  text-decoration: none;
}
/* line 55, ../../src/scss/post.scss */
.post-text a:visited, .post-text a:active {
  color: #396B75;
}
/* line 59, ../../src/scss/post.scss */
.post-text a:hover {
  text-decoration: underline;
}

/* line 67, ../../src/scss/post.scss */
.post-ftr {
  width: 100%;
  background-color: #4EA0AC;
  padding: 2em;
  margin-bottom: 2em;
}
